C Конфигурация игрового движка
(def screen_width 1920);
(def screen_height 1080);
(def difficulty_levels array(easy, normal, hard));

--[[
Графические настройки
]]
graphics = array(
    array("resolution_width", {screen_width}),
    array("resolution_height", {screen_height}),
    array("fullscreen", true)
);

C Игровые настройки
game_title = "Space Adventure";
starting_level = 1;
max_players = 4;

--[[
Настройки сложности
]]
available_difficulties = {difficulty_levels};
default_difficulty = "normal";

C Физические параметры
gravity = 9.8;
max_speed = 100.5;
physics_settings = array(1, 2, 3, array(4, 5));
